*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

.section{
    height: 100vh;
    border: 2px outset black;
}

/*--- header part of section 1 -----*/
.header_sec_header{
    /* border: 2px outset black; */
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color:aliceblue;
    z-index: 2;
    /* overflow: hidden; */
}

.logo{
    background-color: black;
    width: 80px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1{
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size:60px;
   
}

.heading{
    position: relative;
    margin-left: 10px;
    top: -55px;
    left: 80px;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list{
    float: right;
    margin: 20px;
    position: relative;
    top: -100px;
    color: #5218ee;
    transition: all .3s ease;
    
}

.list:hover{
    transform: scale(1.2);
    color: black;
    text-decoration: overline;
}

/*--- end of header part of section 1 -----*/

/*---- body of section-1 start ------*/

.header_sec_body{
    height: 90vh;
    width: 100%;
    /* border: 2px outset black; */
    position: relative;
    top: 10vh;
}


.header_sec_content{
    /* border: 2px outset black; */
    width: 25%;
    position: relative;
    top: 35vh;
    left: 20%;
    animation: content_ani 5s ease;
}


.header_sec_content h1 ,h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.header_sec_content h2{
    color: #5218ee;
}


.section1_pic_div{
    /* border: 2px outset black; */
    width: 30%;
    float: right;
    position: relative;
    right: 15%;
    animation: img_div_ani 5s ease;
}


.section1_pic_div:hover{

    .section1_pic{
        transform: scale(1);
        box-shadow: 10px 10px 10px  #5218ee;
    }
    .secton1_pic_hover_div{
        animation: hover_ani .5s ease ;
        visibility: visible;
        transform: scale(1);

    }
}


.section1_pic{
    width: 100%;
    border-radius: 20px;
    transform: scale(.8);
    transition: all .5s ease;
}


.secton1_pic_hover_div{
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80%;
    background: linear-gradient(to top, black,rgba(255,0,0,0));
    z-index: 1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content:center;
    visibility: hidden;
    transition: all .5s ease;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius: 20px ;
    transform: scale(.8);
    transition: transform .5s ease;
}



@keyframes hover_ani{

    from{
        height: 10%;
        top: 88%;
    }
    to{
        top: 20%;
        height: 80%;
    }
}


@keyframes img_div_ani{
    from{
        right: 0;
    }

    to{
        right: 15%;
    }
}


@keyframes content_ani{
    from{
        left: 0;
    }

    to{
        left: 20%;
    }
}

/*------- end of section-1 body ------*/

/*-------section 2 start ------------*/

.about_sec_innerdiv{
    border: 2px outset black;
    height: 90vh;
    position: relative;
    top: 10vh;
}

.about_sec_innerdiv_child_header{
    height: 10vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about_sec_innerdiv_child_body{
    background-color:white;
    height: 80vh;
    overflow-y: hidden;
}

.about_sec_innerdiv_child_body-span_cover{

    background-color:black;
    overflow: auto;

   
    border-radius: 20px;
    margin: 1%;

    height: 75vh;

    display: flex;
    flex-direction: column;
    gap: 20px;
}


.about_sec_innerdiv_child_body-span_cover span{
    background-color:aliceblue;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 30px;
    padding: 10px;
    transition: all .3s ease;
}

.about_sec_innerdiv_child_body-span_cover span:hover{
    background-color: lightgray;
    box-shadow: 8px 8px  #5218ee;
    border-radius: 10px;
    transform: scale(1.05);
}


.about_sec_innerdiv_child_body-span_cover p:hover{
    strong{
        text-decoration: underline;
    }
}

.about_sec_innerdiv_child_body-span_cover span:first-child{
    margin-top: 22px;
}
.about_sec_innerdiv_child_body-span_cover span:last-child{
    margin-bottom: 22px;
}

.about_sec_innerdiv_child_body p{
    font-size:x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 40px;
}
/*------section 3 start -------*/

.skills_sec3_inner_div{
    background-color: white;
    height: 90vh;
    position: relative;
    top:10vh;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.skill_sec3_ineer_div_clild{
    width: 90%;
    height: 80vh;
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow: auto;

    transition: all .2s ease;
    transform: scale(.9);
}

.skill_sec3_ineer_div_clild:hover{
    box-shadow: 10px 10px 5px #5218ee;
    transform: scale(1);
    border-radius: 10px;
}


.skill_sec3_ineer_div_clild h1{
    margin: 20px;
    
}

.skill_sec3_ineer_div_clild h1:hover{
    text-decoration: underline;
}
.skill_sec3_ineer_div_clild p{
    font-size: large;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    transition: all .2s ease;

}

.skill_sec3_ineer_div_clild p:hover{
    font-size: 20px;

    strong{
        text-decoration: underline;
    }

}

/*--end of section3--*/

/*------section 4 start --------*/

.project_sec4_inner_div{
    height: 90vh;
    /* background-color:antiquewhite; */
    position: relative;
    top: 10vh;

}

.project_sec4_inner_div_child_header{
    height: 10vh;
    /* background-color: aqua; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    align-items: center;
    justify-content:center;
}

.project_sec4_inner_div_child_body{
    height:70vh;
    background-color: azure;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;

    display: flex;
    gap: 30px;

    flex-direction: row;

    justify-content: center;

    transition: all .3s ease;

    overflow-y: auto;

}

.project_sec4_inner_div_child_body:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 5px #5218ee ;
}

.card{
    /* background-color: black; */
    background-color:cornflowerblue;
    flex: 1;
    
    margin: 3%;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    transition: all .2s ease;


}

.card img{
    width: 60%;
}

.trail{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    transform: rotateY(180deg);

    /* visibility: hidden; */
    display: none;
}

.card:hover{
    transform: rotatey(180deg) scale(1.05);
    /* background-color: aqua; */
    background-color: black;
    box-shadow: 10px 10px 3px gray;
    

    img{
        display: none;
    }

    .trail{
        /* visibility: visible; */
        display: block;
    }


}

/*-----end of section 4 -------*/

.resume_sec5_inner_div{
    /* background-color:antiquewhite; */
    position: relative;
    top: 10vh;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.resume_sec5_inner_div button{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: larger;
    border-radius: 100px;
    background-color: aliceblue;
    transition: all .3s ease;
}

.resume_sec5_inner_div h1{
    margin: 20px;
}

.resume_sec5_inner_div button:hover{
    background-color: gray;
    box-shadow: 2px 2px 5px 5px #5218ee;
}
/*-------end of section 5 -------*/

/*-------- section 6 start -------*/


.contact_sec6_inner_div{
    height: 90vh;
    position: relative;
    top: 10vh;
    background-color: antiquewhite;
}

.contact_sec6_inner_div_child_body{
    background-color: white;
    height: 80vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items:center;
    /* margin-bottom: 4%; */

}

.contact_icon_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* background-color: aliceblue; */
}

.contact_icon_wrap p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: none;
}

.contact_icon_wrap a{
    color: black;
    text-decoration: none;
}

.contact_ions{
    width: 50px;
    transition: all .2s ease;
}

.contact_ions:hover{
    transform: scale(1.2);
}



.footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    background-color: black;
}

.footer a{
    transition: all .3s ease;
    text-decoration: none;
    color: white;
}

.footer a:hover{
    cursor: pointer;
}

.footer:hover{
    a{
        color: chartreuse;
        text-decoration: underline;
    }
}




/*--- responsiveness css of section-1 start   ---*/


@media screen  and (max-width: 1300px){

    .header_sec_content{
        width: 40%;
        left: 10%;
    }

    @keyframes content_ani{
        from{
            left: 0;
        }
    
        to{
            left: 10%;
        }
    }
    

    .section1_pic_div{
        top: 0;
        width: 35%;
    }
    
}


@media screen  and (max-width: 1100px){
    .section1_pic_div{
        top:50px;
        right: 10%;
    }

    @keyframes img_div_ani{
        from{
            right: 0;
        }
    
        to{
            right: 10%;
        }
    }
}

@media screen  and (max-width: 1000px){
    .heading{
        visibility: hidden;
    }

    .section1_pic_div{
        width: 40%;
    }
}

@media screen  and (max-width: 900px){
    .section1_pic_div{
        top: -50px;
        right: 30%;
    }

    .header_sec_content{
        top: 55vh;
        left: 30%;
        width: 60%;
    }

    @keyframes img_div_ani{
        from{
            right: 0;
        }
    
        to{
            right: 30%;
        }
    }

    @keyframes content_ani{
        from{
            left: 0;
        }
    
        to{
            left: 30%;
        }
    }


}

@media screen  and (max-width: 800px){
    .section1_pic_div{
        width: 60vh;
        right: 20%;
    }

    .header_sec_content{
        top: 70vh;
        left: 20%;
    }

    @keyframes img_div_ani{
        from{
            right: 0;
        }
    
        to{
            right: 20%;
        }
    }

    @keyframes content_ani{
        from{
            left: 0;
        }
    
        to{
            left: 20%;
        }
    }
}

@media screen  and (max-width: 700px){
    .section1_pic_div{
        right: 15%;
    }

    .header_sec_content{
        top: 70vh;
        left: 20%;
    }

    @keyframes img_div_ani{
        from{
            right: 0;
        }
    
        to{
            right: 15%;
        }
    }

    @keyframes content_ani{
        from{
            left: 0;
        }
    
        to{
            left: 20%;
        }
    }
}

@media screen  and (max-width: 600px){
    .section1_pic_div{
        right: 10%;
    } 

    @keyframes img_div_ani{
        from{
            right: 0;
        }
    
        to{
            right: 10%;
        }
    }
}

@media screen  and (max-width: 550px){
    .logo{
        visibility: hidden;
    }

    .header_sec_content{
        width: 70%;
        font-size: 3vw;
        left: 12%;
    }

    .section1_pic_div{
        right: 8%;
    }

     @keyframes img_div_ani{
        from{
            right: 0;
        }
    
        to{
            right: 8%;
        }
    }

    @keyframes content_ani{
        from{
            left: 0;
        }
    
        to{
            left: 12%;
        }
    }
}


@media screen  and (max-width: 500px){
    .list{
        font-size: medium;
    }

    .section1_pic_div{
        width: 80vw;
        right: 10%;
    }

     @keyframes img_div_ani{
        from{
            right: 0;
        }
    
        to{
            right: 10%;
        }
    }

    .header_sec_content{
        top: 60vh;
    }

}

@media screen  and (max-width: 450px){
    .list{
        font-size: small;
    }
}

@media screen  and (max-width: 418px){
    .list{
        top: -130px;
    }
}

@media screen  and (max-width: 400px){
    .list{
        margin: 10px;
        margin-right: 15px;
        
    }

    .section1_pic_div{
        top: 30px;
    }

}

@media screen  and (max-width: 330px){
    .list{
        margin-right: 10px;
        
    }
}


/*--section 4 responsiveness start  --*/

@media screen  and (max-width: 800px){
    .project_sec4_inner_div_child_body{
        flex-direction: column;
    }

    .card img{
        height: 100px;
        width: auto;
    }
}

@media screen  and (max-width: 400px)
{
    .card img{
        height: 70px;
        width: auto;
    }
}

@media screen and (max-width: 420px){

    .footer p{
        font-size: small;
    }
}
